@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('./font.css');

/* responsive style */
@media (min-width: 375px) {
  .App,
  .Nav {
      width: 375px;
      z-index:10;
  }
}

@media (max-width:500px) {
  .App,
  .Nav {
      width: 100vw;
  }
}

#root {
  box-shadow: rgba(100, 100, 111, 0.5) 0px 7px 29px 0px;
}

.App {
  min-height: 100vh;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

/* scroll */
.rentalBox::-webkit-scrollbar {
  width: 8px;  /* 스크롤바의 너비 */
}

.rentalBox::-webkit-scrollbar-thumb {
  height: 3px; /* 스크롤바의 길이 */
  background: #B79A5F; /* 스크롤바의 색상 */
  border-radius: 10px;
}

.rentalBox::-webkit-scrollbar-track {
  background: inherit;
  border-radius: 10px;
}

.rentalBox::-webkit-scrollbar-button:vertical:start:decrement {
  display: block;
  height: 20px; 
}

.rentalBox::-webkit-scrollbar-button:vertical:end:increment {
  display: block;
  height: 20px;
}

/* LoginModal scroll */
.LoginModal::-webkit-scrollbar {
  width: 8px;  /* 스크롤바의 너비 */
}

.LoginModal::-webkit-scrollbar-thumb {
  height: 3px; /* 스크롤바의 길이 */
  background: #AB7A67; /* 스크롤바의 색상 */
  border-radius: 10px;
}

.LoginModal::-webkit-scrollbar-track {
  background: inherit;
  border-radius: 10px;
}

.LoginModal::-webkit-scrollbar-button:vertical:start:decrement {
  display: block;
  height: 20px; 
}

.LoginModal::-webkit-scrollbar-button:vertical:end:increment {
  display: block;
  height: 20px;
}


.rentalCheckBox {
  width: 16px;
  height: 16px;
  appearance: none;
  border: 2px solid #ceb421;
  cursor: pointer;
}
.rentalCheckBox::before {
  content: '';
  color: transparent;
  display: block;
  width: inherit; 
  height: inherit; 
  border-radius: inherit; 
  border: 0;
  background-color: transparent;
  background-size: 13px; 
  background-repeat: no-repeat;
}

.rentalCheckBox:checked::before {
  background-image: url(../../public/assets/images/rental/check.png);
}

/* table scroll*/
.table::-webkit-scrollbar-button:vertical:start:decrement,
.table::-webkit-scrollbar-button:vertical:start:increment {
  display: block;
  height: 25px;
}
/* 만일 스크롤바 트랙 아래쪽도 여백 공간을 주고 싶다면 ... */
.table::-webkit-scrollbar-button:vertical:end:decrement {
  display: block;
  width: 25px;
}
.table::-webkit-scrollbar{
  width: 12px;
}  
.table::-webkit-scrollbar-thumb {
  background-color: #12172B;
  border-radius: 20px;
  background-clip: padding-box;
  border: 3px solid transparent;
}
.table::-webkit-scrollbar-track {
  background-color: rgba(78, 78, 78, 0);
}

